.element {
    cursor: pointer;
    width: 5vw;
    height: 5vw;
    padding: 2px;
    border: 1px solid #333333;
    border-collapse: collapse;
    overflow: hidden;
    .number {
        float: left;
        font-size: 0.5vw;
        position: absolute;
    }
    .symbol {
        font-weight: bold;
        text-align: center;
        margin-top: 0.5vw;
        font-size: 2.5vw;
    }
    .name {
        font-size: 0.8vw;
        text-align: center;
    }
    &:hover {
        -webkit-box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.6);
        box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.6);
    }
}

.lanthanide {
    background: #cc99ff;
    /* Put a space to seperate the split table  */
    margin-top: 2.5vw;
}

.element-57 {
    margin: 0;
}

/* GROUPS STYLING */

/* Noble Gas  */

.noble {
    background: #f3d2e8;
}

/* Alkali Metal  */

.alkali {
    background: #f88379;
}

/* Alkaline Earth Metal  */

.alkaline {
    background: #ffc3a0;
}

/* Transition Metal  */

.transition {
    background: #e9ff08;
}

/* Polyatomic Non Metal  */

.polyatomic {
    background: #a3d2d5;
}

/* Diatomic Non Metal  */

.diatomic {
    background: #a3d5bf;
}

/* Post Transition Metal  */

.post-transition {
    background: #8eb1e7;
}

/* Metalloid  */

.metalloid {
    background: #5ed89c;
}

/* Actinide  */

.actinide {
    background: #ad87bd;
}
