#table {
    display: grid;
    grid-template-columns: repeat(17, auto) 1fr;
    list-style: none;
}

/* COLUMN */
#table {
  //helium
  li:nth-child(2) {
    grid-column-start: 18;
  }
  li:nth-child(5),li:nth-child(13) {
    grid-column-start: 13;
  }
  li:nth-child(72)  {
    grid-column-start: 3;
  }
}


/* ROW STYLING */
#table {
  li:nth-child(n+58):nth-last-child(n+48) {
    grid-row-start: 8;
  }
  li:nth-child(n+90):nth-last-child(n+16) {
    grid-row-start: 9;
  }
}
